<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#79a2cb" />
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="manifest" href="manifest.json">

    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
   
    <title>Food Plate</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Lihat Daftar Resto</a>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Food Plate</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/like">Favorite</a></li>
                <li><a href="https://github.com/teguhbram">About</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero">
        <div class="hero__inner">
            <h2 class="hero__title">
                Jangan Biarkan Perutmu Bergetar
            </h2>
            <p class="hero__tagline">
                Ayo lihat Pilihan dibawah ini
            </p>
        </div>
    </div>

    <main id="mainContent"></main>

    <footer>
        <p>
            Copyright &copy;2023 FoodPlate
        </p>
    </footer>

</body>

</html>